<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorator="layout/defaultLayout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
<script th:inline="javascript">
$(document).ready(function(){
	
	$('#callAjax').on('click', function(){
		var param = {
				nm: $('#nm').val(),
				userNm: 'USER1',
				val: 1.0,
			};
			$.ajax({
				url: [[@{/sample/rest}]],
				data: JSON.stringify(param),
				type: 'POST',
				dataType: 'json',
				contentType: 'application/json',
				success: function(result){
					alert(JSON.stringify(result));
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert("jqXHR.status:" + jqXHR.status);
					alert("textStatus:" + textStatus);
					alert("errorThrown:" + errorThrown);
				}
				
			});
	});
	
});

</script>
</head>
<th:block layout:fragment="content">
<form th:action="@{/sample/formTest}" method="post">
	<input id="nm" type="text" name="nm" value="<script>alert('hi');</script>" />
	<button type="submit" >Submit</button>
</form>

<div id="callAjax" >Ajax</div>

</th:block>
</html>